<div class="flex items-center transition-all duration-300" [class.justify-center]="isCollapsed"
  [class.justify-between]="!isCollapsed">
  <div class="branding" [class.hidden]="isCollapsed">
    <app-branding></app-branding>
  </div>

  <!-- Show logo icon when collapsed -->
  @if(isCollapsed) {
  <div class="flex items-center justify-center w-full py-2">
    <img src="./assets/images/logos/dark-logo.svg" class="size-10" alt="logo" />
  </div>
  }

  @if(showToggle && !isCollapsed) {
  <a href="javascript:void(0)" (click)="toggleMobileNav.emit()"
    class="flex justify-center ng-star-inserted size-10! items-center text-sm">
  </a>
  }
</div>