@use "@angular/material" as mat;

html.dark-theme {
  color-scheme: dark;
  --mat-sys-background: rgb(33, 33, 34);
  --mat-sys-on-background: rgba(255, 255, 255, 0.9);
  --mat-sys-on-primary: #fff;
  --mat-sys-surface-bright: #ffffff05;
  --mat-sys-surface: rgb(33, 33, 34);
  --mat-sys-surface-container: rgb(33, 33, 34);
  --mat-sys-surface-container-low: rgb(33, 33, 34);
  --mat-sys-outline-variant: #474d53;
  --mat-sys-outline: #4a4f53;
  --mat-form-field-outlined-hover-outline-color: #555e6b;
  --mat-checkbox-unselected-hover-state-layer-color: #19212a;
  --mat-menu-item-hover-state-layer-color: #19212a;
  --mat-button-toggle-state-layer-color: #19212a;
  --mat-option-focus-state-layer-color: #19212a;
  --mat-option-hover-state-layer-color: #19212a;
  --mat-slide-toggle-unselected-track-color: #19212a;
  --mat-stepper-header-focus-state-layer-color: #19212a;
  --mat-stepper-header-hover-state-layer-color: #19212a;
  --mat-expansion-header-hover-state-layer-color: #19212a;
  @include mat.card-overrides((elevated-container-color: rgb(37, 38, 39),
      elevated-container-elevation: '#919eab4d 0px 0px 2px 0px,#919eab05 0px 12px 24px -4px',
      subtitle-text-color: rgba(255, 255, 255, 0.67),
    ));
  @include mat.theme-overrides((level1: '#919eab4d 0px 0px 2px 0px,#919eab05 0px 12px 24px -4px',
      level2: '#919eab4d 0px 0px 2px 0px,#919eab05 0px 12px 24px -4px',
      level3: '#919eab4d 0px 0px 2px 0px,#919eab05 0px 12px 24px -4px',
    ));
}