@use "@angular/material" as mat;

html.natural_green_theme {
    --mat-sys-primary: rgb(21, 134, 31);
    --mat-sys-primary-fixed-dim: rgb(250, 137, 107, 0.15);
    --mat-sys-secondary: rgb(132, 180, 0);
    --mat-sys-secondary-fixed-dim: rgba(0, 180, 75, 0.15);
    --mat-sys-error-fixed-dim: rgba(247, 68, 86, 0.15);
}